<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Downloader</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>YouTube Downloader</h1>
        <form id="download-form">
            <label for="url">YouTube URL을 입력하세요.</label>
            <input type="text" id="url" name="url" placeholder="Enter YouTube video URL" required>
            <button type="submit">Download</button>
        </form>
        <div id="result"></div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
